
@media (max-width:1200px) {
	.nav-bar .emblem {
		height: 36px;
		width: auto;
		margin-top: 0;
	}
}

@media (min-width:1135px) {
}

@media (max-width:974px) {
	.nav-bar .menu {
		height: auto;
	}
	.nav-bar .menu li{
		text-align: center;
	}
	.nav-bar {
		height: auto;
		overflow: visible;
		max-height: initial;
	}
	.nav-bar .container{
		background: #fff;
		margin: 0 -15px;
	}
	.nav-bar .menu-module.left{
		display: none;
		visibility: hidden;
		opacity: 0;
		transition: all ease .6s;
	}
	.nav-bar .logo-module.left{
		text-align: center;
		padding-left: 30px;
	}
	.nav-open .nav-bar .menu-module.left, .nav-open .nav-bar .logo-module.right{
		display: block;
		visibility: visible;
		opacity: 1;
	}
	.nav-module.logo-module.right{
		text-align: center;
	}
}

@media (min-width:750px) and (max-width:1100px) {

}

@media (max-width:767px) {

}

@media (max-width:480px) {

}

@media (min-width:320px) {
}
