body {
  background: #fff;
}
.nav-bar .logo {
  max-height: initial;
  height: 60px;
  width: auto;
  margin-left: 8px;
}

.nav-bar .emblem {
  height: 60px;
  width: auto;
  margin-top: 0;
}
.nav-bar.nav--fixed:not(.bg--dark):not(.bg--primary):not(.bg--white) {
  background: #fff;
}
.menu {
  height: 100px
}
.nav-bar {
  height: 100px;
  max-height: 100px;
  line-height: 100px;
  box-shadow: none;
}
.nav-bar .menu > li a{
  color: #9c918d;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.nav-bar .nav-module {
  height: 100px;
}
.nav-bar .nav-module.right:nth-child(3) {
  border-left: none;
}
section.slider {
  z-index: 1;
}
.btn.btn--primary {
  background: #ec1d23;
  border-color: #dc191f;
}
.btn.btn--primary:hover, button.btn.btn--primary:active, button.btn.btn--primary:hover, button.btn.btn--primary:focus {
  background: #f52f35;
  border-color: #ec1d23 !important;
}



section, footer {
  padding-top: 6.5em;
  padding-bottom: 6.5em;
}
.overlay--rip:before, .overlay--rip:after {
  content: '';
  position: absolute;
  display: block;
  height: 50px;
  left: 0;
  right: 0;
  top: 0;
  background: url('../images/rip-top.png') top center no-repeat;
  background-size: cover;
  z-index: 9;
}
.overlay--rip:after{
  top: auto;
  bottom: 0;
  background: url('../images/rip-bottom.png') top center no-repeat;
  background-size: cover;
}
.bg--dark {
  background: #a9b3b7;
}

input[type="text"]:not(button), input[type="email"]:not(button), input[type="password"]:not(button), textarea:not(button), select:not(button), input[type="tel"]:not(button), input[type="url"]:not(button), input[type="search"]:not(button) {
  height: 53px
}
.form--square textarea{
  height: auto;
}
footer{
  position: relative;
}
footer:before {
  content: '';
  position: absolute;
  display: block;
  height: 50px;
  left: 0;
  right: 0;
  top: 0;
  background: url('../images/rip-top.png') top center no-repeat;
  background-size: cover;
  z-index: 9;
}
footer .certs, footer .logo-footer{
  width: auto;
  height: 75px;
  margin-right: 16px;
  margin-bottom: 32px;
}
footer .menu {
  height: auto;
}
footer .menu > li a{
  color: #668591;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}
