/* ---------------------------------------------------------------------- */
/*  Spacer
/* ---------------------------------------------------------------------- */
.p-t-0 {
  padding-top: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.padding-0 {
  padding: 0px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.padding-5 {
  padding: 5px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.padding-10 {
  padding: 10px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.padding-15 {
  padding: 15px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.padding-20 {
  padding: 20px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.padding-25 {
  padding: 25px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.padding-30 {
  padding: 30px !important;
}
.p-t-35 {
  padding-top: 35px !important;
}
.p-r-35 {
  padding-right: 35px !important;
}
.p-l-35 {
  padding-left: 35px !important;
}
.p-b-35 {
  padding-bottom: 35px !important;
}
.padding-35 {
  padding: 35px !important;
}
.p-t-40 {
  padding-top: 40px !important;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-b-40 {
  padding-bottom: 40px !important;
}
.padding-40 {
  padding: 40px !important;
}
.p-t-45 {
  padding-top: 45px !important;
}
.p-r-45 {
  padding-right: 45px !important;
}
.p-l-45 {
  padding-left: 45px !important;
}
.p-b-45 {
  padding-bottom: 45px !important;
}
.padding-45 {
  padding: 45px !important;
}
.p-t-50 {
  padding-top: 50px !important;
}
.p-r-50 {
  padding-right: 50px !important;
}
.p-l-50 {
  padding-left: 50px !important;
}
.p-b-50 {
  padding-bottom: 50px !important;
}
.padding-50 {
  padding: 50px !important;
}
.p-t-55 {
  padding-top: 55px !important;
}
.p-r-55 {
  padding-right: 55px !important;
}
.p-l-55 {
  padding-left: 55px !important;
}
.p-b-55 {
  padding-bottom: 55px !important;
}
.padding-55 {
  padding: 55px !important;
}
.p-t-60 {
  padding-top: 60px !important;
}
.p-r-60 {
  padding-right: 60px !important;
}
.p-l-60 {
  padding-left: 60px !important;
}
.p-b-60 {
  padding-bottom: 60px !important;
}
.padding-60 {
  padding: 60px !important;
}
.p-t-65 {
  padding-top: 65px !important;
}
.p-r-65 {
  padding-right: 65px !important;
}
.p-l-65 {
  padding-left: 65px !important;
}
.p-b-65 {
  padding-bottom: 65px !important;
}
.padding-65 {
  padding: 65px !important;
}
.p-t-70 {
  padding-top: 70px !important;
}
.p-r-70 {
  padding-right: 70px !important;
}
.p-l-70 {
  padding-left: 70px !important;
}
.p-b-70 {
  padding-bottom: 70px !important;
}
.padding-70 {
  padding: 70px !important;
}
.p-t-75 {
  padding-top: 75px !important;
}
.p-r-75 {
  padding-right: 75px !important;
}
.p-l-75 {
  padding-left: 75px !important;
}
.p-b-75 {
  padding-bottom: 75px !important;
}
.padding-75 {
  padding: 75px !important;
}
.p-t-80 {
  padding-top: 80px !important;
}
.p-r-80 {
  padding-right: 80px !important;

}
.p-l-80 {
  padding-left: 80px !important;
}
.p-b-80 {
  padding-bottom: 80px !important;
}
.padding-80 {
  padding: 80px !important;
}
.p-t-85 {
  padding-top: 85px !important;
}
.p-r-85 {
  padding-right: 85px !important;
}
.p-l-85 {
  padding-left: 85px !important;
}
.p-b-85 {
  padding-bottom: 85px !important;
}
.padding-85 {
  padding: 85px !important;
}
.p-t-90 {
  padding-top: 90px !important;
}
.p-r-90 {
  padding-right: 90px !important;
}
.p-l-90 {
  padding-left: 90px !important;
}
.p-b-90 {
  padding-bottom: 90px !important;
}
.padding-90 {
  padding: 90px !important;
}
.p-t-95 {
  padding-top: 95px !important;
}
.p-r-95 {
  padding-right: 95px !important;
}
.p-l-95 {
  padding-left: 95px !important;
}
.p-b-95 {
  padding-bottom: 95px !important;
}
.padding-95 {
  padding: 95px !important;
}
.p-t-100 {
  padding-top: 100px !important;
}
.p-r-100 {
  padding-right: 100px !important;
}
.p-l-100 {
  padding-left: 100px !important;
}
.p-b-100 {
  padding-bottom: 100px !important;
}
.padding-100 {
  padding: 100px !important;
}
/* Generic Margin Helpers
------------------------------------
 */
.m-t-0 {
  margin-top: 0px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-l-0 {
  margin-left: 0px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-r-35 {
  margin-right: 35px;
}
.m-l-35 {
  margin-left: 35px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-t-45 {
  margin-top: 45px;
}
.m-r-45 {
  margin-right: 45px;
}
.m-l-45 {
  margin-left: 45px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-l-50 {
  margin-left: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-t-55 {
  margin-top: 55px;
}
.m-r-55 {
  margin-right: 55px;
}
.m-l-55 {
  margin-left: 55px;
}
.m-b-55 {
  margin-bottom: 55px;
}
.m-t-60 {
  margin-top: 60px;
}
.m-r-60 {
  margin-right: 60px;
}
.m-l-60 {
  margin-left: 60px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-t-65 {
  margin-top: 65px;
}
.m-r-65 {
  margin-right: 65px;
}
.m-l-65 {
  margin-left: 65px;
}
.m-b-65 {
  margin-bottom: 65px;
}
.m-t-70 {
  margin-top: 70px;
}
.m-r-70 {
  margin-right: 70px;
}
.m-l-70 {
  margin-left: 70px;
}
.m-b-70 {
  margin-bottom: 70px;
}
.m-t-75 {
  margin-top: 75px;
}
.m-r-75 {
  margin-right: 75px;
}
.m-l-75 {
  margin-left: 75px;
}
.m-b-75 {
  margin-bottom: 75px;
}
.m-t-80 {
  margin-top: 80px;
}
.m-r-80 {
  margin-right: 80px;
}
.m-l-80 {
  margin-left: 80px;
}
.m-b-80 {
  margin-bottom: 80px;
}
.m-t-85 {
  margin-top: 85px;
}
.m-r-85 {
  margin-right: 85px;
}
.m-l-85 {
  margin-left: 85px;
}
.m-b-85 {
  margin-bottom: 85px;
}
.m-t-90 {
  margin-top: 90px;
}
.m-r-90 {
  margin-right: 90px;
}
.m-l-90 {
  margin-left: 90px;
}
.m-b-90 {
  margin-bottom: 90px;
}
.m-t-95 {
  margin-top: 95px;
}
.m-r-95 {
  margin-right: 95px;
}
.m-l-95 {
  margin-left: 95px;
}
.m-b-95 {
  margin-bottom: 95px;
}
.m-t-100 {
  margin-top: 100px;
}
.m-r-100 {
  margin-right: 100px;
}
.m-l-100 {
  margin-left: 100px;
}
.m-b-100 {
  margin-bottom: 100px;
}
@media all and (max-width: 992px) {
  .p-t-sm-0 {
    padding-top: 0px !important;
  }
  .p-r-sm-0 {
    padding-right: 0px !important;
  }
  .p-l-sm-0 {
    padding-left: 0px !important;
  }
  .p-b-sm-0 {
    padding-bottom: 0px !important;
  }
  .padding-sm-0 {
    padding: 0px !important;
  }
  .p-t-sm-5 {
    padding-top: 5px !important;
  }
  .p-r-sm-5 {
    padding-right: 5px !important;
  }
  .p-l-sm-5 {
    padding-left: 5px !important;
  }
  .p-b-sm-5 {
    padding-bottom: 5px !important;
  }
  .padding-sm-5 {
    padding: 5px !important;
  }
  .p-t-sm-10 {
    padding-top: 10px !important;
  }
  .p-r-sm-10 {
    padding-right: 10px !important;
  }
  .p-l-sm-10 {
    padding-left: 10px !important;
  }
  .p-b-sm-10 {
    padding-bottom: 10px !important;
  }
  .padding-sm-10 {
    padding: 10px !important;
  }
  .p-t-sm-15 {
    padding-top: 15px !important;
  }
  .p-r-sm-15 {
    padding-right: 15px !important;
  }
  .p-l-sm-15 {
    padding-left: 15px !important;
  }
  .p-b-sm-15 {
    padding-bottom: 15px !important;
  }
  .padding-sm-15 {
    padding: 15px !important;
  }
  .p-t-sm-20 {
    padding-top: 20px !important;
  }
  .p-r-sm-20 {
    padding-right: 20px !important;
  }
  .p-l-sm-20 {
    padding-left: 20px !important;
  }
  .p-b-sm-20 {
    padding-bottom: 20px !important;
  }
  .padding-sm-20 {
    padding: 20px !important;
  }
  .p-t-sm-25 {
    padding-top: 25px !important;
  }
  .p-r-sm-25 {
    padding-right: 25px !important;
  }
  .p-l-sm-25 {
    padding-left: 25px !important;
  }
  .p-b-sm-25 {
    padding-bottom: 25px !important;
  }
  .padding-sm-25 {
    padding: 25px !important;
  }
  .p-t-sm-30 {
    padding-top: 30px !important;
  }
  .p-r-sm-30 {
    padding-right: 30px !important;
  }
  .p-l-sm-30 {
    padding-left: 30px !important;
  }
  .p-b-sm-30 {
    padding-bottom: 30px !important;
  }
  .padding-sm-30 {
    padding: 30px !important;
  }
  .p-t-sm-35 {
    padding-top: 35px !important;
  }
  .p-r-sm-35 {
    padding-right: 35px !important;
  }
  .p-l-sm-35 {
    padding-left: 35px !important;
  }
  .p-b-sm-35 {
    padding-bottom: 35px !important;
  }
  .padding-sm-35 {
    padding: 35px !important;
  }
  .p-t-sm-40 {
    padding-top: 40px !important;
  }
  .p-r-sm-40 {
    padding-right: 40px !important;
  }
  .p-l-sm-40 {
    padding-left: 40px !important;
  }
  .p-b-sm-40 {
    padding-bottom: 40px !important;
  }
  .padding-sm-40 {
    padding: 40px !important;
  }
  .p-t-sm-45 {
    padding-top: 45px !important;
  }
  .p-r-sm-45 {
    padding-right: 45px !important;
  }
  .p-l-sm-45 {
    padding-left: 45px !important;
  }
  .p-b-sm-45 {
    padding-bottom: 45px !important;
  }
  .padding-sm-45 {
    padding: 45px !important;
  }
  .p-t-sm-50 {
    padding-top: 50px !important;
  }
  .p-r-sm-50 {
    padding-right: 50px !important;
  }
  .p-l-sm-50 {
    padding-left: 50px !important;
  }
  .p-b-sm-50 {
    padding-bottom: 50px !important;
  }
  .padding-sm-50 {
    padding: 50px !important;
  }
  .p-t-sm-55 {
    padding-top: 55px !important;
  }
  .p-r-sm-55 {
    padding-right: 55px !important;
  }
  .p-l-sm-55 {
    padding-left: 55px !important;
  }
  .p-b-sm-55 {
    padding-bottom: 55px !important;
  }
  .padding-sm-55 {
    padding: 55px !important;
  }
  .p-t-sm-60 {
    padding-top: 60px !important;
  }
  .p-r-sm-60 {
    padding-right: 60px !important;
  }
  .p-l-sm-60 {
    padding-left: 60px !important;
  }
  .p-b-sm-60 {
    padding-bottom: 60px !important;
  }
  .padding-sm-60 {
    padding: 60px !important;
  }
  .p-t-sm-65 {
    padding-top: 65px !important;
  }
  .p-r-sm-65 {
    padding-right: 65px !important;
  }
  .p-l-sm-65 {
    padding-left: 65px !important;
  }
  .p-b-sm-65 {
    padding-bottom: 65px !important;
  }
  .padding-sm-65 {
    padding: 65px !important;
  }
  .p-t-sm-70 {
    padding-top: 70px !important;
  }
  .p-r-sm-70 {
    padding-right: 70px !important;
  }
  .p-l-sm-70 {
    padding-left: 70px !important;
  }
  .p-b-sm-70 {
    padding-bottom: 70px !important;
  }
  .padding-sm-70 {
    padding: 70px !important;
  }
  .p-t-sm-75 {
    padding-top: 75px !important;
  }
  .p-r-sm-75 {
    padding-right: 75px !important;
  }
  .p-l-sm-75 {
    padding-left: 75px !important;
  }
  .p-b-sm-75 {
    padding-bottom: 75px !important;
  }
  .padding-sm-75 {
    padding: 75px !important;
  }
  .p-t-sm-80 {
    padding-top: 80px !important;
  }
  .p-r-sm-80 {
    padding-right: 80px !important;
  }
  .p-l-sm-80 {
    padding-left: 80px !important;
  }
  .p-b-sm-80 {
    padding-bottom: 80px !important;
  }
  .padding-sm-80 {
    padding: 80px !important;
  }
  .p-t-sm-85 {
    padding-top: 85px !important;
  }
  .p-r-sm-85 {
    padding-right: 85px !important;
  }
  .p-l-sm-85 {
    padding-left: 85px !important;
  }
  .p-b-sm-85 {
    padding-bottom: 85px !important;
  }
  .padding-sm-85 {
    padding: 85px !important;
  }
  .p-t-sm-90 {
    padding-top: 90px !important;
  }
  .p-r-sm-90 {
    padding-right: 90px !important;
  }
  .p-l-sm-90 {
    padding-left: 90px !important;
  }
  .p-b-sm-90 {
    padding-bottom: 90px !important;
  }
  .padding-sm-90 {
    padding: 90px !important;
  }
  .p-t-sm-95 {
    padding-top: 95px !important;
  }
  .p-r-sm-95 {
    padding-right: 95px !important;
  }
  .p-l-sm-95 {
    padding-left: 95px !important;
  }
  .p-b-sm-95 {
    padding-bottom: 95px !important;
  }
  .padding-sm-95 {
    padding: 95px !important;
  }
  .p-t-sm-100 {
    padding-top: 100px !important;
  }
  .p-r-sm-100 {
    padding-right: 100px !important;
  }
  .p-l-sm-100 {
    padding-left: 100px !important;
  }
  .p-b-sm-100 {
    padding-bottom: 100px !important;
  }
  .padding-sm-100 {
    padding: 100px !important;
  }
}
@media all and (max-width: 768px) {
  .p-t-xs-0 {
    padding-top: 0px !important;
  }
  .p-r-xs-0 {
    padding-right: 0px !important;
  }
  .p-l-xs-0 {
    padding-left: 0px !important;
  }
  .p-b-xs-0 {
    padding-bottom: 0px !important;
  }
  .padding-xs-0 {
    padding: 0px !important;
  }
  .p-t-xs-5 {
    padding-top: 5px !important;
  }
  .p-r-xs-5 {
    padding-right: 5px !important;
  }
  .p-l-xs-5 {
    padding-left: 5px !important;
  }
  .p-b-xs-5 {
    padding-bottom: 5px !important;
  }
  .padding-xs-5 {
    padding: 5px !important;
  }
  .p-t-xs-10 {
    padding-top: 10px !important;
  }
  .p-r-xs-10 {
    padding-right: 10px !important;
  }
  .p-l-xs-10 {
    padding-left: 10px !important;
  }
  .p-b-xs-10 {
    padding-bottom: 10px !important;
  }
  .padding-xs-10 {
    padding: 10px !important;
  }
  .p-t-xs-15 {
    padding-top: 15px !important;
  }
  .p-r-xs-15 {
    padding-right: 15px !important;
  }
  .p-l-xs-15 {
    padding-left: 15px !important;
  }
  .p-b-xs-15 {
    padding-bottom: 15px !important;
  }
  .padding-xs-15 {
    padding: 15px !important;
  }
  .p-t-xs-20 {
    padding-top: 20px !important;
  }
  .p-r-xs-20 {
    padding-right: 20px !important;
  }
  .p-l-xs-20 {
    padding-left: 20px !important;
  }
  .p-b-xs-20 {
    padding-bottom: 20px !important;
  }
  .padding-xs-20 {
    padding: 20px !important;
  }
  .p-t-xs-25 {
    padding-top: 25px !important;
  }
  .p-r-xs-25 {
    padding-right: 25px !important;
  }
  .p-l-xs-25 {
    padding-left: 25px !important;
  }
  .p-b-xs-25 {
    padding-bottom: 25px !important;
  }
  .padding-xs-25 {
    padding: 25px !important;
  }
  .p-t-xs-30 {
    padding-top: 30px !important;
  }
  .p-r-xs-30 {
    padding-right: 30px !important;
  }
  .p-l-xs-30 {
    padding-left: 30px !important;
  }
  .p-b-xs-30 {
    padding-bottom: 30px !important;
  }
  .padding-xs-30 {
    padding: 30px !important;
  }
  .p-t-xs-35 {
    padding-top: 35px !important;
  }
  .p-r-xs-35 {
    padding-right: 35px !important;
  }
  .p-l-xs-35 {
    padding-left: 35px !important;
  }
  .p-b-xs-35 {
    padding-bottom: 35px !important;
  }
  .padding-xs-35 {
    padding: 35px !important;
  }
  .p-t-xs-40 {
    padding-top: 40px !important;
  }
  .p-r-xs-40 {
    padding-right: 40px !important;
  }
  .p-l-xs-40 {
    padding-left: 40px !important;
  }
  .p-b-xs-40 {
    padding-bottom: 40px !important;
  }
  .padding-xs-40 {
    padding: 40px !important;
  }
  .p-t-xs-45 {
    padding-top: 45px !important;
  }
  .p-r-xs-45 {
    padding-right: 45px !important;
  }
  .p-l-xs-45 {
    padding-left: 45px !important;
  }
  .p-b-xs-45 {
    padding-bottom: 45px !important;
  }
  .padding-xs-45 {
    padding: 45px !important;
  }
  .p-t-xs-50 {
    padding-top: 50px !important;
  }
  .p-r-xs-50 {
    padding-right: 50px !important;
  }
  .p-l-xs-50 {
    padding-left: 50px !important;
  }
  .p-b-xs-50 {
    padding-bottom: 50px !important;
  }
  .padding-xs-50 {
    padding: 50px !important;
  }
  .p-t-xs-55 {
    padding-top: 55px !important;
  }
  .p-r-xs-55 {
    padding-right: 55px !important;
  }
  .p-l-xs-55 {
    padding-left: 55px !important;
  }
  .p-b-xs-55 {
    padding-bottom: 55px !important;
  }
  .padding-xs-55 {
    padding: 55px !important;
  }
  .p-t-xs-60 {
    padding-top: 60px !important;
  }
  .p-r-xs-60 {
    padding-right: 60px !important;
  }
  .p-l-xs-60 {
    padding-left: 60px !important;
  }
  .p-b-xs-60 {
    padding-bottom: 60px !important;
  }
  .padding-xs-60 {
    padding: 60px !important;
  }
  .p-t-xs-65 {
    padding-top: 65px !important;
  }
  .p-r-xs-65 {
    padding-right: 65px !important;
  }
  .p-l-xs-65 {
    padding-left: 65px !important;
  }
  .p-b-xs-65 {
    padding-bottom: 65px !important;
  }
  .padding-xs-65 {
    padding: 65px !important;
  }
  .p-t-xs-70 {
    padding-top: 70px !important;
  }
  .p-r-xs-70 {
    padding-right: 70px !important;
  }
  .p-l-xs-70 {
    padding-left: 70px !important;
  }
  .p-b-xs-70 {
    padding-bottom: 70px !important;
  }
  .padding-xs-70 {
    padding: 70px !important;
  }
  .p-t-xs-75 {
    padding-top: 75px !important;
  }
  .p-r-xs-75 {
    padding-right: 75px !important;
  }
  .p-l-xs-75 {
    padding-left: 75px !important;
  }
  .p-b-xs-75 {
    padding-bottom: 75px !important;
  }
  .padding-xs-75 {
    padding: 75px !important;
  }
  .p-t-xs-80 {
    padding-top: 80px !important;
  }
  .p-r-xs-80 {
    padding-right: 80px !important;
  }
  .p-l-xs-80 {
    padding-left: 80px !important;
  }
  .p-b-xs-80 {
    padding-bottom: 80px !important;
  }
  .padding-xs-80 {
    padding: 80px !important;
  }
  .p-t-xs-85 {
    padding-top: 85px !important;
  }
  .p-r-xs-85 {
    padding-right: 85px !important;
  }
  .p-l-xs-85 {
    padding-left: 85px !important;
  }
  .p-b-xs-85 {
    padding-bottom: 85px !important;
  }
  .padding-xs-85 {
    padding: 85px !important;
  }
  .p-t-xs-90 {
    padding-top: 90px !important;
  }
  .p-r-xs-90 {
    padding-right: 90px !important;
  }
  .p-l-xs-90 {
    padding-left: 90px !important;
  }
  .p-b-xs-90 {
    padding-bottom: 90px !important;
  }
  .padding-xs-90 {
    padding: 90px !important;
  }
  .p-t-xs-95 {
    padding-top: 95px !important;
  }
  .p-r-xs-95 {
    padding-right: 95px !important;
  }
  .p-l-xs-95 {
    padding-left: 95px !important;
  }
  .p-b-xs-95 {
    padding-bottom: 95px !important;
  }
  .padding-xs-95 {
    padding: 95px !important;
  }
  .p-t-xs-100 {
    padding-top: 100px !important;
  }
  .p-r-xs-100 {
    padding-right: 100px !important;
  }
  .p-l-xs-100 {
    padding-left: 100px !important;
  }
  .p-b-xs-100 {
    padding-bottom: 100px !important;
  }
  .padding-xs-100 {
    padding: 100px !important;
  }
}




@media all and (max-width: 992px) {
  .m-t-sm-0 {
    margin-top: 0px !important;
  }
  .m-r-sm-0 {
    margin-right: 0px !important;
  }
  .m-l-sm-0 {
    margin-left: 0px !important;
  }
  .m-b-sm-0 {
    margin-bottom: 0px !important;
  }
  .margin-sm-0 {
    margin: 0px !important;
  }
  .m-t-sm-5 {
    margin-top: 5px !important;
  }
  .m-r-sm-5 {
    margin-right: 5px !important;
  }
  .m-l-sm-5 {
    margin-left: 5px !important;
  }
  .m-b-sm-5 {
    margin-bottom: 5px !important;
  }
  .margin-sm-5 {
    margin: 5px !important;
  }
  .m-t-sm-10 {
    margin-top: 10px !important;
  }
  .m-r-sm-10 {
    margin-right: 10px !important;
  }
  .m-l-sm-10 {
    margin-left: 10px !important;
  }
  .m-b-sm-10 {
    margin-bottom: 10px !important;
  }
  .margin-sm-10 {
    margin: 10px !important;
  }
  .m-t-sm-15 {
    margin-top: 15px !important;
  }
  .m-r-sm-15 {
    margin-right: 15px !important;
  }
  .m-l-sm-15 {
    margin-left: 15px !important;
  }
  .m-b-sm-15 {
    margin-bottom: 15px !important;
  }
  .margin-sm-15 {
    margin: 15px !important;
  }
  .m-t-sm-20 {
    margin-top: 20px !important;
  }
  .m-r-sm-20 {
    margin-right: 20px !important;
  }
  .m-l-sm-20 {
    margin-left: 20px !important;
  }
  .m-b-sm-20 {
    margin-bottom: 20px !important;
  }
  .margin-sm-20 {
    margin: 20px !important;
  }
  .m-t-sm-25 {
    margin-top: 25px !important;
  }
  .m-r-sm-25 {
    margin-right: 25px !important;
  }
  .m-l-sm-25 {
    margin-left: 25px !important;
  }
  .m-b-sm-25 {
    margin-bottom: 25px !important;
  }
  .margin-sm-25 {
    margin: 25px !important;
  }
  .m-t-sm-30 {
    margin-top: 30px !important;
  }
  .m-r-sm-30 {
    margin-right: 30px !important;
  }
  .m-l-sm-30 {
    margin-left: 30px !important;
  }
  .m-b-sm-30 {
    margin-bottom: 30px !important;
  }
  .margin-sm-30 {
    margin: 30px !important;
  }
  .m-t-sm-35 {
    margin-top: 35px !important;
  }
  .m-r-sm-35 {
    margin-right: 35px !important;
  }
  .m-l-sm-35 {
    margin-left: 35px !important;
  }
  .m-b-sm-35 {
    margin-bottom: 35px !important;
  }
  .margin-sm-35 {
    margin: 35px !important;
  }
  .m-t-sm-40 {
    margin-top: 40px !important;
  }
  .m-r-sm-40 {
    margin-right: 40px !important;
  }
  .m-l-sm-40 {
    margin-left: 40px !important;
  }
  .m-b-sm-40 {
    margin-bottom: 40px !important;
  }
  .margin-sm-40 {
    margin: 40px !important;
  }
  .m-t-sm-45 {
    margin-top: 45px !important;
  }
  .m-r-sm-45 {
    margin-right: 45px !important;
  }
  .m-l-sm-45 {
    margin-left: 45px !important;
  }
  .m-b-sm-45 {
    margin-bottom: 45px !important;
  }
  .margin-sm-45 {
    margin: 45px !important;
  }
  .m-t-sm-50 {
    margin-top: 50px !important;
  }
  .m-r-sm-50 {
    margin-right: 50px !important;
  }
  .m-l-sm-50 {
    margin-left: 50px !important;
  }
  .m-b-sm-50 {
    margin-bottom: 50px !important;
  }
  .margin-sm-50 {
    margin: 50px !important;
  }
  .m-t-sm-55 {
    margin-top: 55px !important;
  }
  .m-r-sm-55 {
    margin-right: 55px !important;
  }
  .m-l-sm-55 {
    margin-left: 55px !important;
  }
  .m-b-sm-55 {
    margin-bottom: 55px !important;
  }
  .margin-sm-55 {
    margin: 55px !important;
  }
  .m-t-sm-60 {
    margin-top: 60px !important;
  }
  .m-r-sm-60 {
    margin-right: 60px !important;
  }
  .m-l-sm-60 {
    margin-left: 60px !important;
  }
  .m-b-sm-60 {
    margin-bottom: 60px !important;
  }
  .margin-sm-60 {
    margin: 60px !important;
  }
  .m-t-sm-65 {
    margin-top: 65px !important;
  }
  .m-r-sm-65 {
    margin-right: 65px !important;
  }
  .m-l-sm-65 {
    margin-left: 65px !important;
  }
  .m-b-sm-65 {
    margin-bottom: 65px !important;
  }
  .margin-sm-65 {
    margin: 65px !important;
  }
  .m-t-sm-70 {
    margin-top: 70px !important;
  }
  .m-r-sm-70 {
    margin-right: 70px !important;
  }
  .m-l-sm-70 {
    margin-left: 70px !important;
  }
  .m-b-sm-70 {
    margin-bottom: 70px !important;
  }
  .margin-sm-70 {
    margin: 70px !important;
  }
  .m-t-sm-75 {
    margin-top: 75px !important;
  }
  .m-r-sm-75 {
    margin-right: 75px !important;
  }
  .m-l-sm-75 {
    margin-left: 75px !important;
  }
  .m-b-sm-75 {
    margin-bottom: 75px !important;
  }
  .margin-sm-75 {
    margin: 75px !important;
  }
  .m-t-sm-80 {
    margin-top: 80px !important;
  }
  .m-r-sm-80 {
    margin-right: 80px !important;
  }
  .m-l-sm-80 {
    margin-left: 80px !important;
  }
  .m-b-sm-80 {
    margin-bottom: 80px !important;
  }
  .margin-sm-80 {
    margin: 80px !important;
  }
  .m-t-sm-85 {
    margin-top: 85px !important;
  }
  .m-r-sm-85 {
    margin-right: 85px !important;
  }
  .m-l-sm-85 {
    margin-left: 85px !important;
  }
  .m-b-sm-85 {
    margin-bottom: 85px !important;
  }
  .margin-sm-85 {
    margin: 85px !important;
  }
  .m-t-sm-90 {
    margin-top: 90px !important;
  }
  .m-r-sm-90 {
    margin-right: 90px !important;
  }
  .m-l-sm-90 {
    margin-left: 90px !important;
  }
  .m-b-sm-90 {
    margin-bottom: 90px !important;
  }
  .margin-sm-90 {
    margin: 90px !important;
  }
  .m-t-sm-95 {
    margin-top: 95px !important;
  }
  .m-r-sm-95 {
    margin-right: 95px !important;
  }
  .m-l-sm-95 {
    margin-left: 95px !important;
  }
  .m-b-sm-95 {
    margin-bottom: 95px !important;
  }
  .margin-sm-95 {
    margin: 95px !important;
  }
  .m-t-sm-100 {
    margin-top: 100px !important;
  }
  .m-r-sm-100 {
    margin-right: 100px !important;
  }
  .m-l-sm-100 {
    margin-left: 100px !important;
  }
  .m-b-sm-100 {
    margin-bottom: 100px !important;
  }
  .margin-sm-100 {
    margin: 100px !important;
  }
}
@media all and (max-width: 768px) {
  .m-t-xs-0 {
    margin-top: 0px !important;
  }
  .m-r-xs-0 {
    margin-right: 0px !important;
  }
  .m-l-xs-0 {
    margin-left: 0px !important;
  }
  .m-b-xs-0 {
    margin-bottom: 0px !important;
  }
  .margin-xs-0 {
    margin: 0px !important;
  }
  .m-t-xs-5 {
    margin-top: 5px !important;
  }
  .m-r-xs-5 {
    margin-right: 5px !important;
  }
  .m-l-xs-5 {
    margin-left: 5px !important;
  }
  .m-b-xs-5 {
    margin-bottom: 5px !important;
  }
  .margin-xs-5 {
    margin: 5px !important;
  }
  .m-t-xs-10 {
    margin-top: 10px !important;
  }
  .m-r-xs-10 {
    margin-right: 10px !important;
  }
  .m-l-xs-10 {
    margin-left: 10px !important;
  }
  .m-b-xs-10 {
    margin-bottom: 10px !important;
  }
  .margin-xs-10 {
    margin: 10px !important;
  }
  .m-t-xs-15 {
    margin-top: 15px !important;
  }
  .m-r-xs-15 {
    margin-right: 15px !important;
  }
  .m-l-xs-15 {
    margin-left: 15px !important;
  }
  .m-b-xs-15 {
    margin-bottom: 15px !important;
  }
  .margin-xs-15 {
    margin: 15px !important;
  }
  .m-t-xs-20 {
    margin-top: 20px !important;
  }
  .m-r-xs-20 {
    margin-right: 20px !important;
  }
  .m-l-xs-20 {
    margin-left: 20px !important;
  }
  .m-b-xs-20 {
    margin-bottom: 20px !important;
  }
  .margin-xs-20 {
    margin: 20px !important;
  }
  .m-t-xs-25 {
    margin-top: 25px !important;
  }
  .m-r-xs-25 {
    margin-right: 25px !important;
  }
  .m-l-xs-25 {
    margin-left: 25px !important;
  }
  .m-b-xs-25 {
    margin-bottom: 25px !important;
  }
  .margin-xs-25 {
    margin: 25px !important;
  }
  .m-t-xs-30 {
    margin-top: 30px !important;
  }
  .m-r-xs-30 {
    margin-right: 30px !important;
  }
  .m-l-xs-30 {
    margin-left: 30px !important;
  }
  .m-b-xs-30 {
    margin-bottom: 30px !important;
  }
  .margin-xs-30 {
    margin: 30px !important;
  }
  .m-t-xs-35 {
    margin-top: 35px !important;
  }
  .m-r-xs-35 {
    margin-right: 35px !important;
  }
  .m-l-xs-35 {
    margin-left: 35px !important;
  }
  .m-b-xs-35 {
    margin-bottom: 35px !important;
  }
  .margin-xs-35 {
    margin: 35px !important;
  }
  .m-t-xs-40 {
    margin-top: 40px !important;
  }
  .m-r-xs-40 {
    margin-right: 40px !important;
  }
  .m-l-xs-40 {
    margin-left: 40px !important;
  }
  .m-b-xs-40 {
    margin-bottom: 40px !important;
  }
  .margin-xs-40 {
    margin: 40px !important;
  }
  .m-t-xs-45 {
    margin-top: 45px !important;
  }
  .m-r-xs-45 {
    margin-right: 45px !important;
  }
  .m-l-xs-45 {
    margin-left: 45px !important;
  }
  .m-b-xs-45 {
    margin-bottom: 45px !important;
  }
  .margin-xs-45 {
    margin: 45px !important;
  }
  .m-t-xs-50 {
    margin-top: 50px !important;
  }
  .m-r-xs-50 {
    margin-right: 50px !important;
  }
  .m-l-xs-50 {
    margin-left: 50px !important;
  }
  .m-b-xs-50 {
    margin-bottom: 50px !important;
  }
  .margin-xs-50 {
    margin: 50px !important;
  }
  .m-t-xs-55 {
    margin-top: 55px !important;
  }
  .m-r-xs-55 {
    margin-right: 55px !important;
  }
  .m-l-xs-55 {
    margin-left: 55px !important;
  }
  .m-b-xs-55 {
    margin-bottom: 55px !important;
  }
  .margin-xs-55 {
    margin: 55px !important;
  }
  .m-t-xs-60 {
    margin-top: 60px !important;
  }
  .m-r-xs-60 {
    margin-right: 60px !important;
  }
  .m-l-xs-60 {
    margin-left: 60px !important;
  }
  .m-b-xs-60 {
    margin-bottom: 60px !important;
  }
  .margin-xs-60 {
    margin: 60px !important;
  }
  .m-t-xs-65 {
    margin-top: 65px !important;
  }
  .m-r-xs-65 {
    margin-right: 65px !important;
  }
  .m-l-xs-65 {
    margin-left: 65px !important;
  }
  .m-b-xs-65 {
    margin-bottom: 65px !important;
  }
  .margin-xs-65 {
    margin: 65px !important;
  }
  .m-t-xs-70 {
    margin-top: 70px !important;
  }
  .m-r-xs-70 {
    margin-right: 70px !important;
  }
  .m-l-xs-70 {
    margin-left: 70px !important;
  }
  .m-b-xs-70 {
    margin-bottom: 70px !important;
  }
  .margin-xs-70 {
    margin: 70px !important;
  }
  .m-t-xs-75 {
    margin-top: 75px !important;
  }
  .m-r-xs-75 {
    margin-right: 75px !important;
  }
  .m-l-xs-75 {
    margin-left: 75px !important;
  }
  .m-b-xs-75 {
    margin-bottom: 75px !important;
  }
  .margin-xs-75 {
    margin: 75px !important;
  }
  .m-t-xs-80 {
    margin-top: 80px !important;
  }
  .m-r-xs-80 {
    margin-right: 80px !important;
  }
  .m-l-xs-80 {
    margin-left: 80px !important;
  }
  .m-b-xs-80 {
    margin-bottom: 80px !important;
  }
  .margin-xs-80 {
    margin: 80px !important;
  }
  .m-t-xs-85 {
    margin-top: 85px !important;
  }
  .m-r-xs-85 {
    margin-right: 85px !important;
  }
  .m-l-xs-85 {
    margin-left: 85px !important;
  }
  .m-b-xs-85 {
    margin-bottom: 85px !important;
  }
  .margin-xs-85 {
    margin: 85px !important;
  }
  .m-t-xs-90 {
    margin-top: 90px !important;
  }
  .m-r-xs-90 {
    margin-right: 90px !important;
  }
  .m-l-xs-90 {
    margin-left: 90px !important;
  }
  .m-b-xs-90 {
    margin-bottom: 90px !important;
  }
  .margin-xs-90 {
    margin: 90px !important;
  }
  .m-t-xs-95 {
    margin-top: 95px !important;
  }
  .m-r-xs-95 {
    margin-right: 95px !important;
  }
  .m-l-xs-95 {
    margin-left: 95px !important;
  }
  .m-b-xs-95 {
    margin-bottom: 95px !important;
  }
  .margin-xs-95 {
    margin: 95px !important;
  }
  .m-t-xs-100 {
    margin-top: 100px !important;
  }
  .m-r-xs-100 {
    margin-right: 100px !important;
  }
  .m-l-xs-100 {
    margin-left: 100px !important;
  }
  .m-b-xs-100 {
    margin-bottom: 100px !important;
  }
  .margin-xs-100 {
    margin: 100px !important;
  }
}
